@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Style+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body {
    font-family: Inter;
  } */
  
  @layer utilities {
    /* .bg-gradient {
      border: 10px solid;
      background: linear-gradient(180deg, #ab96f8 0%, #ff99d0 100%);
      border-radius: 10px;
    }
  
    .bg-free-gradient {
      background: linear-gradient(
        90deg,
        #f0fbb9 0%,
        #fbb3a0 29.01%,
        #bfa2fd 53.16%,
        #a4d0fc 74.87%,
        #9fe9e2 87.59%,
        #9fface 100%
      );
    } */
    .max-container {
      @apply mx-auto max-w-[1440px];
    }
  
    .padding-container {
      @apply px-6 lg:px-20 3xl:px-0;
    }

    .mulish-font {
      font-family: 'Mulish', sans-serif;
      font-weight: 700;
    }

    .jakarta-font {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: 800;
    }

    .opensans-font {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .script-font {
      font-family: "Style Script", cursive;
      font-weight: 900;
    }

    .gradient-border {
      border-style: solid;
      border-image: linear-gradient(to bottom, #AB96F8, #FF99D0) 1;
      border-radius: 12px;
    }
  }
  